title {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

a {
    font-size: 18px;
    color: #E5E7EB;
}
.header {
    background-color: #1F2937;
}

.rowcontainer {

}


.footer {
    background-color: #1F2937;
}