body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.headerlogo {
    font-size: 24px;
    color: #F9FAF8;
}

.rowonesubcontainer {
    display: flex;
    flex-direction: column;
    
    margin-left: 200px;
    width: 400px;
}

.buttonone {
    display: flex;
    margin-top: 5px;
}

.awesome {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.placeholder {
    display: flex;
    align-self: center;
    color: #E5E7EB;
    margin-left: 100px;
    background-color: grey;
    padding: 75px 50px 75px;
}  

a, .subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.links {
    display: flex;
    margin-left: 900px;
}

.headerlogo {
    display: flex;
    margin-left: 200px;
}
button {
    display: flex;
    background-color: #3882F6;
    border-color: #E5E7EB;
    padding: 5px 30px 5px;
    border-radius: 10px;
}

.button {
    color: #E5E7EB;
}

.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
    margin-bottom: 0px;
    gap: 20px;
}

.quotesection {
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}


.container {
    display: flex;
    flex-direction: column;
    
}

.rowone {
    display: flex;
    height: 250px;
    background-color: #1F2937;
}

.awesome {

}

.subtext {

}

.rowtwo {
    display: flex;
    justify-content: center;
    height: 260px;
}

.boxtwo {
    display: flex;
    flex-direction: column;
    width: 160px;
    margin-top: 30px;
    margin-left: 50px;
    margin-bottom: 10px;
}

.informationheader {
    margin-left: 40%;
    margin-top: 10px;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937; 
 }

.box {
    background-color: white;
    border: 3px solid #3882F6;
    margin-right: 200px;
    border-radius: 10px;
    width: 125px;
    height: 125px;
}

.rowthree {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 80px;
    background-color: #E5E7EB;
    color: #1F2937;
}

.thor {
    margin-top: 20px;
}

.rowfour {
    display: flex;
    height: 250px;
    background-color: #3882F6;
}

.signup2 {
    display: flex;
    align-content: center;
    margin-top: 0px;
}
.bluebox {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    background-color: #3882F6;
    padding: 30px;
    padding-left: 50px;
    width: 750px;
    height: 40px;
    border-radius: 10px;
    margin-left: 500px;
    margin-top: 10px;
}

.signup {
    display: flex;
    justify-content: center;
}
.cta {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.there {
    color: #F9FAF8;
    font-size: 18px;
}

.footer {
    color: #E5E7EB;
    font-size: 18px;
    background-color: #1F2937;
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}